{% extends 'base.html.twig' %}

{% block title %}Car{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
    <div class="row">
    <h2>Recherche avancée</h2>
        {{form_start(form)}}
        {{form_end(form)}}
    </div>
    </div>
</div>
</div>

<div class="container">
{% for theCar in cars %}
{% if theCar is null %}
<div class="jumbotron">
<h1>Aucun resultat pour votre recherche</h1>
</div>
{% else %}
    <div class="col-lg-4">
        <div class="card" style="border: solid; text-align: center; color: #fff;">
            <a href="{{ path('car_show', {id: theCar.id})}}">
                <div class="header" style="color: #fff;">
                    <h2>{{theCar.marque}}</h2>
                    <p>{{theCar.modele}}</p>
                     <p>{{theCar.prix}}€</p>
                </div>
                <a style="color: #fff;" href="{{ path('formReservation', {id: theCar.id}) }}"><button type="button" class="btn btn-primary">Réserver</a>
            </a>
        </div>
    </div>
{% endif %}
{% endfor %}
</div>
{% endblock %}
